@charset "UTF-8";
/*Заголовок*/
h2{
    align:center;
}














/*Кнопка*/
.butStyle {
    text-align:center;
    font-size:13px;
    text-decoration: none;
    font-weight: 700;
    padding: 7px 6px;
    background: #eaeef1;
    display:inline-block;
    width:60px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
    font-size: medium;
}

.butStyle:hover, a.butt.hover {
    background: #fff;
}
.butStyle:active, a.butt.active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
.bodyStyle
  {
    background:url(fon.png) no-repeat center center fixed;
   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  .menuBack
  {
    background:url(fon.png) no-repeat center center fixed;
   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  .bodyStyleInfo
  {
    background:url(fonInfo.png) no-repeat center center fixed;
   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  /*Таблица*/
  table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background: #eaebec;
    border: #ccc 1px solid;
  }
  
  table th {
    padding: 10px 35px;
    border-left: 1px solid #e4dede;
    border-bottom: 1px solid #e2d8d8;
    background: #524c4c;
    text-align: center;
    color: #ece8e8;
  }
  
  table th:first-child{  
    border-left:none;  
  }
  
  table tr {
    text-align: left;
    padding-left: 20px;
  }
  
  table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }
  
  table td {
    padding: 15px 35px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fbf5f5 background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fbf5f5));
    background: -moz-linear-gradient(top, #fbfbfb, #fbf5f5);
  }
  
  table tr:last-child td {
    border-bottom: 0;
  }
  
  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  table tr:hover td {
    background: #f3efef;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f3f3), to(#f9f5f5));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }

  .menuFon
  {
    margin:0 auto;
    max-width:55%;
    margin-top: 2%;
    box-sizing:border-box;
    padding:40px;
    border-radius:5px; 
background:url(formBack.png) no-repeat center center fixed;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
  }
/*Форма и элементы формы*/
    form{
        margin:0 auto;
        max-width:95%;
        box-sizing:border-box;
        padding:40px;
        border-radius:5px; 
 background:url(formBack.png) no-repeat center center fixed;
   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
        box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
      }
     
      /* Стили полей ввода */
      .textbox{
        height:50px;
        width:100%;
        border-radius:3px;
        border:rgba(0,0,0,.3) 2px solid;
        box-sizing:border-box;
        font-family: 'Open Sans', sans-serif;
        font-size:14px; 
        padding:10px;
        margin-bottom:30px;  
      }
      .message:focus,
      .textbox:focus{
        outline:none;
         border:rgba(24,149,215,1) 2px solid;
         color:rgba(24,149,215,1);
      }
      /* Стили текстового поля */
      .message{
          background: rgba(255, 255, 255, 0.4); 
          width:100%;
          height: 120px;
          border:rgba(0,0,0,.3) 2px solid;
          box-sizing:border-box;
          -moz-border-radius: 3px;
          font-size:14px;
          font-family: 'Open Sans', sans-serif;
          -webkit-border-radius: 3px;
          border-radius: 3px; 
          display:block;
          padding:10px;
          margin-bottom:30px;
          overflow:hidden;
      }
      .pstyle
      {
        font-size: 25px;
      }
      